@use "global" as *;


.button__form  {
    font-family: $second-font;
    background: linear-gradient(90deg, #062D3F 0%, #0080BC 100%);
    color: $white;
    font-size: rem(15.06);
    font-weight: $bold;
    letter-spacing: 0.01rem;
    width: rem(267.73);  
    padding: rem(17) 0;
    z-index: 1;
}

.button__form--orange{
    font-family: $base-font;
    background: linear-gradient(90deg, #D99126 0%, #FF772A 100%);    
    color: $white;
    font-size: rem(18);
    font-weight: $semiBold;
    letter-spacing: 0.01rem;;
    width: rem(320);  
    padding: rem(22) 0 rem(18);
}

.button__form--blue{
    font-family: $base-font;
    background: linear-gradient(90deg, #062D3F 0%, #0080BC 100%);
    color: $white;
    font-size: rem(18);
    font-weight: $semiBold;
    letter-spacing: 0.01rem;;
    width: rem(320);  
    padding: rem(22) 0 rem(18);
}