@use "global" as *;

.media-example{
    padding-top: rem(80);
    @include mq(md) {
        padding-top: rem(50);
    }
}

.media-example__title{
    width: rem(321);
    height: rem(72);
    margin-inline: auto;
    @include mq(md) {
        width: rem(798);
        height: rem(62);
    }
}

.media-example__inner{
    max-width: rem(758);
    margin-inline: auto;
}

.media-example__content{
    background-color: #DDEAF2;
    margin-top: rem(40);
    padding: rem(20) rem(10) rem(60);
    @include mq(md) {
        margin-top: rem(60);
        padding: rem(16) rem(20) rem(20);
        display: flex;
        align-items: flex-start;
        gap: 0 rem(16);
    }
}

.media-example__content--center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.media-example__none{
    padding: rem(100) 0;
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(26/16);
    letter-spacing: 0.01em;
    @include mq(md) {
        padding: rem(67) 0;
        font-size: rem(20);
        line-height: calc(20/26);
    }
}


.media-example__left{
    @include mq(md) {
        width: 65.18%;
    }
}

.media-example__tags{
    display: flex;
    align-items: center;
    gap: 0 rem(3.88);
    height: rem(42.72);
    @include mq(md) {
        gap: 0 rem(5);
        height: rem(55);
    }
}

.media-example__tag-blue{
    background: linear-gradient(90deg, #0080BC 0%, #062D3F 100%);
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: rem(155);
    font-size: rem(15.53);
    font-weight: $semiBold;
    height: 100%;
    @include mq(md) {
        width: rem(200);
        font-size: rem(20);
    }
}

.media-example__tag-white{
    background-color: $white;
    color: #0178AF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: rem(160);
    font-size: rem(12.43);
    font-weight: $semiBold;
    letter-spacing: 0.01em;
    height: 100%;
    @include mq(md) {
        width: rem(207);
        font-size: rem(16);
    }
}

.media-example__subtitle{
    text-align: left;
    margin-top: rem(20.28);
    padding: 0 rem(20);
    color: #0178AF;
    font-size: rem(16);
    font-weight: $semiBold;
    letter-spacing: 0.01em;
    @include mq(md) {
        margin-top: rem(20);
        padding: 0;
        font-size: rem(20);
    }
}

.media-example__text{
    text-align: left;
    margin-top: rem(30);
    padding: 0 rem(20);
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(26/14);
    letter-spacing: 0.01em;
    @include mq(md) {
        margin-top: rem(10);
        padding: 0;
    }
}

.media-example__text span {
    color: #0178AF;
    padding: 0;
    font-weight: $semiBold;
}






.media-example__right{
    background-color: #0174A9;
    margin: rem(20) rem(20) 0;
    padding: rem(30) rem(13.16) rem(40);
    @include mq(md) {
        width: 32.59%;
        margin: rem(0);
        padding: rem(25) rem(10) rem(35) rem(12);
    }
}

.media-example__before-category{
    display: inline-block;
    width: rem(139);
    margin-top: rem(10);
    padding: rem(4) 0;
    background-color: $white;
    color: #0174A9;
    font-size: rem(12);
    font-weight: $semiBold;
    border-radius: rem(27.5);
}

.media-example__before-text{
    text-align: left;
    padding: rem(10) rem(8) 0;
    color: $white;
    font-size: rem(13);
    font-weight: $regular;
    line-height: calc(22/13);
}

.media-example__triangle{
    width: rem(84);
    height: rem(19);
    margin: rem(25) auto;
    @include mq(md) {   
        width: rem(84);
        height: rem(19);

    }
}

.media-example__after-category{
    display: inline-block;
    width: rem(139);
    padding: rem(4) 0;
    background-color: #032333;
    color: $white;
    font-size: rem(12);
    font-weight: $semiBold;
    border-radius: rem(27.5);
}

.media-example__after-text{
    text-align: left;
    padding-top: rem(10);
    color: $white;
    font-size: rem(13);
    font-weight: $regular;
    line-height: calc(22/13);
}