@use "global" as *;

.type{
    background-color: #052E42;

}

.type__bg{
    text-align: center;
    background-image: url('../images/common/type-bg-sp.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(60) 0 rem(80);
    @include mq(md) {
        background-image: url('../images/common/type-bg.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: rem(110) 0 rem(132);
    }
}

.type__inner{
    max-width: $max-width;
    margin-inline: auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(1070);
    }
}

.type__head{
    background-color: #0178AF;
    color: $white;
    padding: rem(40) rem(10);
    @include mq(md) {
        padding: rem(62) rem(100) rem(40);
    }
}

.type__title{
    font-size: rem(28);
    font-weight: $semiBold;
    @include mq(md) {
        font-size: rem(48);
    }
}

.type__border{
    border-bottom: solid 1px $white;
    width: rem(52);
    height: rem(1);
    margin: rem(20) auto 0;
    @include mq(md) {
        width: rem(80);
    }
}

.type__text{
    text-align: left;
    margin-top: rem(30);
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(26/14);
    @include mq(md) {
        margin-top: rem(40);
        font-size: rem(20);
        line-height: calc(36/20);
        letter-spacing: 0.02em;
    }
}






.type__body{
    background-color: $white;
    padding: rem(20) rem(30) rem(60);
    @include mq(md) {
        padding: rem(40) 0 rem(60);
    }
}

.type__body-inner{
    max-width: rem(900);
    margin-inline: auto;
}

.type__content{
    @include mq(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.type__list{
    @include mq(md) {
        width: 47.223%;
    }
}

.type__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.type__item + .type__item{
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(30);
    }
}

.type__item:nth-child(3n + 1) {
    margin-top: rem(20);
    @include mq(md) {
        margin-top: 0;
    }
}

.type__item-box{
    display: flex;
    align-items: center;
    gap: 0 rem(13.14);
    @include mq(md) {
        gap: 0 rem(20);
    }
}

.type__number{
    width: rem(46);
    height: rem(46);
    @include mq(md) {
        width: rem(70);
        height: rem(70);
    }
}

.type__shape{
    color: #006281;
    font-size: rem(15.77);
    font-weight: $semiBold;
    line-height: calc(20.4/15.77);
    @include mq(md) {
        font-size: rem(24);
        line-height: calc(31/24);
    }
}

.type__arrow{
    width: rem(17);
    height: rem(10);
}





.type__box{
    padding: rem(60) 0 rem(80);
    @include mq(md) {
        padding: rem(100) 0 rem(132);
    }
}




.type__wrapper {
    position: relative; /* 必要に応じて要素を相対的に位置付け */
}

.type__arrow {
    transition: transform 0.3s ease-in-out; /* スムーズなアニメーションを追加 */
}

.type__wrapper:hover .type__arrow {
    transform: translateY(rem(10)); /* 矢印を下に5px移動 */
}
